@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    background-color: #000;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #000000 30%, #282727 100%);
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0px! important;
}

.Role-Txt {
    border-right: 2px solid #f0bf6c;
    padding-right: 5px;
    animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {
    from, to { border-color: transparent; }
    50% { border-color: #806747; }
}

.Unsupported-Device {
    display: none;
}

.ScrollTop i {
    font-size: 19px;
}

.ScrollTop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    border: 1px solid #000;
    border-radius: 5px;
    right: 20px;
    bottom: 13px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transform: translateY(20px);
    transition: 0.8s;
}

.ScrollTop:hover {
    background: linear-gradient(180deg, #d4ac77 0%, #5f4d35 100%);
}

.ScrollTop.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 500ms;
}

.Main-Content {
    height: auto;
    width: 100%;
    background-image: url("./assets/background.png");
}

.Social-Medias {
    position: absolute;
    margin-top: 45px;
    margin-left: 30px;
}

.Social-Medias a {
    margin-left: 30px;
}

.fa-github, .fa-linkedin-square, .fa-figma, .fa-facebook {
    padding-top: 10px!important;
    padding-right: 5px;
}

.Social-Medias i {
    font-size: 30px;
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.Social-Medias i:hover {
    background: linear-gradient(180deg, #FFD196 0%, #866C4B 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.Align-Txt {
    display: flex;
    justify-content: center;
}

.Main-Txt {
    text-align: left;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 50vh 0;
    position: relative;
}

.Main-Txt p {
    background: linear-gradient(90deg, #E6B980 31%, #FFFFFF 100%);
    font-weight: 400;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.Second-Txt {
    padding-right: 5px;
    border-right: 2px solid #FFFFFF;
    animation: typing 1.5s infinite step-end;
}

.remove {
    border: none;
}

@keyframes typing {
    50% {
        border-color: transparent;
    }
}

.About-Align {
    padding-top: 9vh;
}

.About-Title {
    font-size: 33px;
    font-weight: 800;
    font-style: italic;
    line-height: 50px;
    letter-spacing: -1px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #FFD196 48%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.Division {
    display: flex;
    justify-content: space-between;
    margin-top: 12vh;
}

.Borders {
    display: flex;
    justify-content: center;
}

.Informations {
    margin: 0 20vh 0 0;
}

.Informations h2 {
    font-size: 18px;
    font-weight: 750;
    letter-spacing: -1px;
    margin: 17px 0 15px -2px;
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    mix-blend-mode: normal;
}

.Informations p {
    font-size: 14px;
    color: #F0F0F0;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: justify;
    width: 430px;
}

.Work-Exp, .Education-Cap {
    font-size: 17px;
    margin-top: 3vh;
}

.fa-briefcase, .fa-graduation-cap {
    margin: 0 6px 0 3px;
    font-size: 16px;
}

.Informations h3 {
    margin-left: 2px;
    font-weight: 650;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: -1px;
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.All-Experiences {
    position: absolute;
    width: 326px;
    height: 85px;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    position: relative;
    transition: 1s ease-in-out;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-left: 2.2px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid #806747;
    padding: 2px;
    margin-top: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 8px;
}

.manual-btn:hover {
    background-color: #c9a170;
}

#Experience_1:checked ~ .first {
    margin-left: 0;
}

#Experience_2:checked ~ .first {
    margin-left: -27em;
}

#Experience_3:checked ~ .first {
    margin-left: -54em;
}

#Experience_4:checked ~ .first {
    margin-left: -81em;
}

#Experience_5:checked ~ .first {
    margin-left: -108em;
}

.navigation-auto div {
    border: 1px solid #806747;
    padding: 2px;
    border-radius: 10px;
    margin-top: 11px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    margin-left: 2.2px;
    border-top: 1px solid #806747;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 8px;
}

#Experience_1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #806747;
}

#Experience_2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #806747;
}

#Experience_3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #806747;
}

#Experience_4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #806747;
}

#Experience_5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #806747;
}

.Work-Data-Freela, .Education-Name {
    margin-left: 2px;
    font-weight: 350!important;
    font-size: 12px!important;
    line-height: 15px!important;
    text-align: justify!important;
    letter-spacing: -0.5px!important;
}

.Work-Data, .Education-Data {
    margin-left: 2px;
    font-weight: 350!important;
    font-size: 12px!important;
    line-height: 15px!important;
    text-align: justify!important;
    letter-spacing: -0.5px!important;
    width: 75%!important;
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

.Education-Data {
    border: none;
}

.Work-Data span, .Education-Data span {
    width: auto;
}

.Calendar {
    font-size: 11.5px;
    margin-right: 2px;
}

.Data-Border {
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #806747;
    width: 320px;
}

.Photo {
    width: 100%;
}

.Photo img {
    max-width: 330px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset 0px 8px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid #806747;
    object-fit: contain;
    float: right;
}

.Skills-Align {
    margin: 30vh 0 10vh 0;
}

.Skills-Title, .Services-Title, .Projects-Title, .Clients-Title, .Contact-Title {
    font-size: 33px;
    font-weight: 800;
    font-style: italic;
    line-height: 50px;
    letter-spacing: -1px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #FFD196 48%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.Icons-Skills {
    margin: 40px 0 40px 0;
}

.Icons-Skills i {
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.Line-1, .Line-2, .Line-3 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Info-Modal {
    cursor: pointer;
}

.Information-Skills {
    width: 100%;
    height: 100%;
}

.Informations-Skills a:focus {
    display: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.40);
}

dialog {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.30), inset 2px 11px 16px rgba(0, 0, 0, 0.30);
    width: 60%;
    margin: auto;
    height: auto;
    background: #D9D9D9;
}

.fa-xmark {
    position: relative;
    float: right;
    cursor: pointer;
    margin: 10px 10px 0 0;
    color: #806747;
    z-index: 1 !important;
}

.fa-xmark:hover {
    color: rgb(73, 60, 41);
}

.Informations-Align {
    position: absolute;
    margin: 0 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.Informations-Align p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.txt-more {
    margin-top: 40px;
    text-align: center !important;
}

.Informations-Align a {
    color: #000;
}

.Informations-Align i {
    font-size: 200px;
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    margin: 0 100% 60px 100%;
}

.Line-Mobile {
    display: none;
}

.Line-1, .Line-2 {
    margin-bottom: 30px;
}

.HTML-Section, .CSS-Section, .JS-Section, .TS-Section, .PY-Section, .NODEJS-Section, .BS-Section, .JQ-Section, .REACT-Section, .VITE-Section, .TW-Section, .DJ-Section, .PHP-Section, .MYSQL-Section {
    margin: 0px 20px;
    width: 56px;
    height: 58px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 1;
}

/* First Line Skills */

.html {
    font-size: 50px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.css {
    font-size: 45px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.fa-css3:before {
    margin: 3px 0 0 3px;
}

.js {
    font-size: 46px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.ts {
    font-size: 41px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.py {
    font-size: 48px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.nodejs {
    font-size: 43px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

/* Second Line Skills */

.bs {
    font-size: 37px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.jq {
    font-size: 37px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.react {
    font-size: 45px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.vite {
    font-size: 45px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.tw {
    font-size: 45px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.dj {
    font-size: 37px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.devicon-django-plain:before {
    margin: 4px 2px 0 0;
}

.php {
    font-size: 37px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.sql {
    font-size: 37px;
    width: 100%;
    height: 100%;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.Services {
    margin-top: 13vh;
}

.Services a {
    text-decoration: none;
}

.Top {
    display: flex;
    justify-content: center;
}

.Bottom {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Services-Align {
    padding-top: 27vh;
    margin-bottom: 10vh;
}

.Services-Left {
    margin-right: 30px;
}

.Services-Left, .Services-Right {
    box-sizing: border-box;
    width: 330px;
    height: 170px;
    background: #000000;
    border: 2px solid #806747;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.50);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Services-Left:hover, .Services-Right:hover {
    border: 2px solid #c9a170;
}

.Services-Left-Inside, .Services-Right-Inside {
    height: 100%;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.Icon-Services {
    font-size: 30px;
    color: #806747;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.Services-Left:hover i, .Services-Right:hover i {
    color: #c9a170;
}

.Services-Left-Inside h2, .Services-Right-Inside h2{
    font-weight: 400;
    font-size: 19px;
    line-height: 15px;
    letter-spacing: -1px;
    color: #F0F0F0;
}

.Services-Left-Inside p, .Services-Right-Inside p{
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}

.Projects-Page {
    margin-bottom: 25vh;
}

.Clients-Page {
    margin-bottom: 30vh;
}

.Projects-Align {
    padding-top: 22vh;
    margin-bottom: 10vh;
}

.Clients-Align {
    padding-top: 0vh;
    margin-bottom: 25vh;
}

.Projects, .Clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logotype_1 {
    background: url("./assets/KLAYNC_Logotype_White.png") no-repeat;
    background-size: 160px;
    width: 160px;
    height: 52px;
    opacity: 90%;
    transition: 0.3s ease-in-out;
}

.Logotype_2 {
    background: url("./assets/Lohana_Logotype_White.png") no-repeat;
    background-size: 140px;
    width: 137px;
    height: 70px;
    opacity: 90%;
    transition: 0.3s ease-in-out;
}

.Logotype_3 {
    background: url("./assets/My_Logotype_White.png") no-repeat;
    background-size: 200px;
    width: 199px;
    height: 43px;
    opacity: 90%;
    transition: 0.3s ease-in-out;
}

.Clients a:not(:last-child) {
    margin-right: 150px;
    margin-left: 30px;
}

.Logotype_1:hover {
    background: url("./assets/KLAYNC_Logotype.png") no-repeat;
    background-size: 160px;
    width: 160px;
    height: 52px;
    opacity: 100%;
}

.Logotype_2:hover {
    background: url("./assets/Lohana_Logotype.png") no-repeat;
    background-size: 140px;
    width: 137px;
    height: 70px;
    opacity: 100%;
}

.Logotype_3:hover {
    background: url("./assets/My_Logotype.png") no-repeat;
    background-size: 200px;
    width: 199px;
    height: 43px;
    opacity: 100%;
}

.Project-Left {
    margin-right: 50px;
}

.Project-Right {
    margin-left: 50px;
}

.Project-Left, .Project-Right {
    box-sizing: border-box;
    width: 385px;
    height: 248px;
    background: #000000;
    border: 2px solid #806747;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.50);
    margin-top: 13vh;
}

.Left-Inside, .Right-Inside {
    margin: 40px;
}

.Left-Inside a, .Right-Inside a{
    text-decoration: none;
    position: relative;
    display: table-row-group;
}

.Left-Inside h2, .Right-Inside h2{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: -1px;
    color: #F0F0F0;
    margin-bottom: 10px;
}

.Border {
    border-top: 1.5px solid #ad8c61;
    margin-left: 25px;
}

.line {
    opacity: 0;
}

.Left-Inside p, .Right-Inside p{
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    margin-bottom: 55px;
}

.Left-Inside h3, .Right-Inside h3{
    font-weight: 400;
    font-size: 17.5px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -1px;
    color: #ad8c61;
}

.Left-Inside h3:hover, .Right-Inside h3:hover {
    cursor: pointer;
    color: #c9a170;
}

.Left-Inside h3::after, .Right-Inside h3::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #c9a170;
    position: absolute;
    bottom: 0;
    left: 2px;
    transition: 0.5s ease-in-out;
}

.Left-Inside h3:hover::after, .Right-Inside h3:hover::after{
    width: 91px;
}

.Contact-Page {
    padding-bottom: 150px;
}

.Contact-Align {
    padding-top: 5vh;
    margin-bottom: 8vh;
}

.Form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

form label {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: -1px;
    color: #F0F0F0;
    margin: 10px 0;
}

form input, form textarea, form button {
    background: #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.50), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid #806747;
    color: #F0F0F0;
    margin-bottom: 10px;
    letter-spacing: -1px;
    caret-color: #F0F0F0;
}

input:focus, textarea:focus{
    border: 2px solid #806747;
    outline: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-text-fill-color: #F0F0F0!important;
    -webkit-box-shadow: 0 0 0 30px #000 inset;
}

::-webkit-input-placeholder {
    color: #a3a3a3;
    font-style: italic;
    font-weight: 500;
    letter-spacing: -1px;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-style: italic;
    font-weight: 500;
    letter-spacing: -1px;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-style: italic;
    font-weight: 500;
    letter-spacing: -1px;
}

:-o-input-placeholder {
    color: #a3a3a3;
    font-style: italic;
    font-weight: 500;
    letter-spacing: -1px;
}

.Contt_Buttons {
    display: flex;
}

.btn {
    width: 100%;
}

.Contt_Buttons a {
    margin-left: 10px;
}

.Wpp_Button {
    padding: 0;
}

.Wpp_Button i {
    font-size: 23px;
    color: #806747;
    padding: 6px 10px;
    transition: 0.2s ease-in-out;
}

.Wpp_Button i:hover {
    color: #c9a170;
}

form button {
    cursor: pointer;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -1px;
    color: #F0F0F0;
    margin: 10px 0;
    padding: 10px 0;
}

form button:hover {
    border: 2px solid #c9a170;
    transition: .2s ease-in-out;
}

.Footer {
    position: absolute;
    height: 56px;
    width: 100%;
    background: #000000;
    border-top: 2px solid #806747;
    z-index: 10;
}

.Footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(230, 185, 128, 0.4);
    padding: 21px 30px;
    position: absolute;
}

.Social-Medias-Footer {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.Social-Medias-Footer a {
    margin-left: 10px;
}

.icon-footer {
    padding-right: 10px;
}

.Social-Medias-Footer i {
    font-size: 25px;
    background: linear-gradient(180deg, #E6B980 0%, #806747 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.Social-Medias-Footer i:hover {
    background: linear-gradient(180deg, #FFD196 0%, #866C4B 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.HTML-Section:hover, .CSS-Section:hover, .JS-Section:hover, .TS-Section:hover, .PY-Section:hover, .NODEJS-Section:hover, .BS-Section:hover, .JQ-Section:hover, .REACT-Section:hover, .VITE-Section:hover, .TW-Section:hover, .DJ-Section:hover, .PHP-Section:hover, .MYSQL-Section:hover {
    background: linear-gradient(180deg, #FFD196 0%, #866C4B 100%);
    transition: .2s linear;
}

.Icons-Skills i:hover {
    background: #D9D9D9;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    transition: .2s linear;
}

/* Animation */

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="reveal"] {
    scale: 0;
}

[data-anime="top"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime="down"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="left"] {
    transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(100px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    scale: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Error 404 */
.Align-Error {
    height: 100vh;
}

.Error-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.Text-404 {
    font-size: 150px;
    letter-spacing: -1px;
    font-weight: 800;
    background: linear-gradient(90deg, #E6B980 31%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.Text-NotFound {
    display: block;
    font-weight: 300;
    font-size: 25px;
    color: #F0F0F0;
    margin-bottom: 60px;
}

.Btn-GoHome {
    width: 85px;
    height: 30px;
    background: #E6B980;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: 900;
    font-size: 12px;
    line-height: 0px;
    color: #000;
    cursor: pointer;
}

.Btn-GoHome:hover {
    background: #cfa875;
}

@media (max-width: 1080px) {
    /*Laptop*/
    [data-anime="left"] {
        transform: translate3d(-20px, 0, 0);
    }
    
    [data-anime="right"] {
        transform: translate3d(20px, 0, 0);
    }

    .Borders {
        margin: 0;
    }

    .Division {
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .Informations {
        margin: auto;
    }

    .Photo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .Photo img {
        max-width: 180px;
        max-height: 230px;
    }

    .Informations-Align i {
        font-size: 180px;
    }

    .Informations-Align p {
        font-size: 14px;
    }

    .Informations-Align {
        margin: 0 auto;
    }

    .Projects-Page {
        margin-bottom: 15vh;
    }

    .Clients-Page {
        margin-bottom: 20vh;
    }

    .Clients-Align {
        padding-top: 0vh;
        margin-bottom: 15vh;
    }

    .Clients {
        flex-direction: column;
        align-items: center;
    }

    .Clients a:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 70px;
        margin-left: 0px;
    }

    .Projects, .Services {
        display: flex;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .Project-Left {
        margin-right: 0px;
    }
    
    .Project-Right {
        margin-left: 0px;
    }

    .Project-Left, .Project-Right {
        margin-bottom: 80px;
        margin-top: 0;
    }

    form {
        width: 40%;
    }

    .Left-Inside h3:hover::after, .Right-Inside h3:hover::after{
        width: 0px;
    }
}

@media (max-width: 837px) {
    /*Tablet*/
    .ScrollButton {
        display: none;
        visibility: hidden;
    }

    .Social-Medias i {
        font-size: 27px;
    }

    .Social-Medias a:nth-child(4) {
        margin-left: 9px !important;
    }

    .Social-Medias a {
        margin-left: 20px!important;
    }

    .Main-Txt {
        font-size: 27px;
    }

    .About-Title, .Skills-Title, .Services-Title, .Projects-Title, .Clients-Title, .Contact-Title {
        font-size: 30px;
    }

    .Informations h2 {
        font-size: 17px;
        line-height: 35px;
        margin-bottom: 0px !important;
    }

    .Informations p {
        font-size: 13px;
        line-height: 20px;
    }

    .Informations h3 {
        font-size: 15px;
    }

    .Work-Data, .Work-Data-Freela, .Education-Name, .Education-Data {
        font-size: 11.7px!important;
    }

    .fa-briefcase, .fa-graduation-cap {
        font-size: 15px;
    }

    .Photo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .Photo img {
        max-width: 160px;
        max-height: 210px;
    }

    .Borders {
        margin: 0;
    }

    .Division {
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .Informations {
        margin: auto;
    }

    .Work-Data, .Education-Data {
        width: 77%!important;
    }

    .All-Experiences {
        width: 334px;
    }

    .navigation-auto div {
        padding: 1.5px;
    }
    
    .manual-btn {
        padding: 1.5px;
    }

    .HTML-Section, .CSS-Section, .JS-Section, .TS-Section, .PY-Section, .NODEJS-Section, .BS-Section, .JQ-Section, .REACT-Section, .VITE-Section, .TW-Section, .DJ-Section, .PHP-Section, .MYSQL-Section {
        margin: 0px 15px 10px 15px;
        width: 54px;
        height: 54px;
        border-radius: 12px;
    }

    .html {
        font-size: 47px;
    }

    .css {
        font-size: 42px;
    }

    .js {
        font-size: 42px;
    }

    .ts {
        font-size: 37px;
    }

    .py {
        font-size: 43px;
    }

    .nodejs {
        font-size: 40px;
    }

    .bs {
        font-size: 36px;
    }

    .jq {
        font-size: 35px;
    }

    .react {
        font-size: 41px;
    }

    .vite {
        font-size: 41px;
    }

    .tw {
        font-size: 41px;
    }

    .dj {
        font-size: 35px;
    }

    .sql {
        font-size: 35px;
    }

    dialog {
        width: 70%;
    }

    .Informations-Align i {
        font-size: 150px;
    }

    .Informations-Align p {
        font-size: 13px;
    }

    .Top, .Bottom {
        display: block;
        margin: 0;
    }

    .Services-Left, .Services-Right {
        margin: 30px 0px 0px 0px;
        width: 320px;
        height: 160px;
    }

    .Icon-Services {
        font-size: 28px;
    }

    .Services-Left-Inside h2, .Services-Right-Inside h2 {
        font-size: 18px;
    }

    .Services-Left-Inside p, .Services-Right-Inside p {
        font-size: 14px;
    }

    .Projects-Align, .Services-Align, .Clients-Align {
        margin-bottom: 11vh;
    }

    .Projects, .Services {
        display: flex;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .Project-Left, .Project-Right {
        margin-bottom: 80px;
        width: 370px;
        height: 240px;
        margin-top: 0;
    }

    .Left-Inside, .Right-Inside {
        margin: 30px;
    }

    .Left-Inside h2, .Right-Inside h2 {
        font-size: 19px;
    }

    .Left-Inside p, .Right-Inside p {
        font-size: 15px ;
    }

    .Left-Inside a, .Right-Inside a {
        width: 89px;
    }

    .Left-Inside h3, .Right-Inside h3 {
        font-size: 17px;
    }

    .Logotype_1 {
        background-size: 130px;
        width: 130px;
        height: 40px;
    }

    .Logotype_2 {
        background-size: 120px;
        width: 120px;
        height: 60px;
    }

    .Logotype_3 {
        background-size: 150px;
        width: 150px;
        height: 40px;
    }

    .Logotype_1:hover {
        background-size: 130px;
        width: 130px;
        height: 40px;
    }

    .Logotype_2:hover {
        background-size: 120px;
        width: 120px;
        height: 60px;
    }

    .Logotype_3:hover {
        background-size: 150px;
        width: 150px;
        height: 40px;
    }

    .Clients a:not(:last-child) {
        margin-bottom: 50px;
    }

    form {
        width: 50%;
    }

    form label {
        font-size: 17px;
    }

    form button {
        font-size: 16px;
    }

    .Footer p {
        font-size: 11.5px;
    }

    .Social-Medias-Footer i {
        font-size: 22px!important;
    }

    .Social-Medias-Footer {
        justify-content: right;
        padding: 8px 15px 0 0;
    }

    /* Error 404 */
    .Text-404 {
        font-size: 130px;
    }

    .Text-NotFound {
        font-size: 21px;
        margin-bottom: 50px;
    }

    .Btn-GoHome {
        font-size: 11px;
        width: 75px;
        height: 25px;
    }
}

@media (max-width: 600px) {
    /*Mobile*/
    .Main-Txt {
        font-size: 24px;
    }

    .Social-Medias i {
        font-size: 24px;
    }

    .Social-Medias a {
        margin-left: 15px!important;
    }

    .Photo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .Photo img {
        max-width: 130px;
        max-height: 155px;
    }

    .Borders {
        margin: 0;
    }

    .Division {
        display: flex;
        margin-top: 4vh;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .Informations {
        margin: 0 40px;
    }

    .About-Title, .Skills-Title, .Services-Title, .Projects-Title, .Clients-Title, .Contact-Title {
        font-size: 25px;
    }

    .About-Align {
        padding-top: 6vh;
    }

    .Informations h2 {
        font-size: 15px;
        line-height: 30px;
    }

    .Informations p {
        font-size: 11.5px;
        line-height: 20px;
        letter-spacing: -0.4px;
        font-weight: 500;
        width: auto;
    }
    
    .fa-briefcase, .fa-graduation-cap {
        font-size: 13px;
    }

    .Informations h3 {
        font-size: 14px;
        line-height: 16px;
        margin-left: 0;
        width: 57.5vw;
    }

    .Work-Data-Freela, .Education-Name {
        font-size: 11px!important;
        margin-left: 0;
    }

    .Work-Data-Freela {
        width: 360px !important;
    }

    .navigation-auto {
        margin-left: 1.3px;
        margin-top: 50px;
    }
    
    .manual-navigation {
        margin-left: 1.3px;
        margin-top: 60px;
    }

    #Experience_2:checked ~ .first {
        margin-left: -22.5em;
    }

    #Experience_3:checked ~ .first {
        margin-left: -44.9em;
    }

    #Experience_4:checked ~ .first {
        margin-left: -67.5em;
    }

    #Experience_5:checked ~ .first {
        margin-left: -90em;
    }

    .All-Experiences {
        width: 58vw;
    }

    .Work-Data {
        font-size: 11px!important;
        width: 57.6vw!important;
        margin-left: 0;
    }

    .Education-Data {
        font-size: 11px!important;
        width: 75%!important;
        margin-left: 0;
    }

    .Calendar {
        font-size: 10.5px;
        margin-right: 0;
    }

    .Work-Exp, .Education-Cap {
        margin-top: 2vh;
    }

    .Data-Border {
        width: 100%;
        margin-top: 8px;
    }

    .Services-Align {
        margin-bottom: 2vh;
    }

    .Icon-Services {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .Services-Left, .Services-Right {
        width: 256px;
        height: 140px;
        margin: 20px 0px 0px 0px;
    }

    .Services-Left-Inside, .Services-Right-Inside {
        margin: 0 20px 0 20px;
    }

    .Services-Left-Inside p, .Services-Right-Inside p {
        font-size: 13px;
        margin-top: 7px;
    }

    .Services-Left-Inside h2, .Services-Right-Inside h2 {
        font-size: 16px;
    }

    .Projects, .Services {
        display: flex;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .Project-Left, .Project-Right {
        box-sizing: border-box;
        margin-bottom: 80px;
        width: 290px;
        height: 180px;
        margin-top: 0;
    }

    .Projects-Page {
        margin-bottom: 13vh;
    }

    .Projects-Align {
        margin-bottom: 8vh;
    }

    .Clients-Page {
        margin-bottom: 15vh;
    }

    .Clients-Align {
        margin-bottom: 8vh;
    }

    .Clients a:not(:last-child) {
        margin-bottom: 50px;
    }

    .Left-Inside p, .Right-Inside p {
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 0px;
    }

    .Left-Inside h3, .Right-Inside h3 {
        font-size: 14.5px;
    }

    .Left-Inside h2, .Right-Inside h2 {
        font-size: 16px;
        line-height: 10px;
        letter-spacing: -0.8px;
        font-weight: 500;
    }

    .Left-Inside, .Right-Inside {
        margin: 30px 23px;
    }

    .Left-Inside a, .Right-Inside a {
        width: 74px;
    }

    .Border {
        margin-left: 22px;
    }

    .Skills-Align {
        margin: 15vh 0 5vh 0;
    }

    .line {
        font-size: 13px;
    }

    .Line-1, .Line-2, .Line-3 {
        display: none;
    }

    .Line-Mobile {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Icons-Skills {
        margin: 0 10%;
    }

    .HTML-Section, .CSS-Section, .JS-Section, .TS-Section, .PY-Section, .NODEJS-Section, .BS-Section, .JQ-Section, .REACT-Section, .VITE-Section, .TW-Section, .DJ-Section, .PHP-Section, .MYSQL-Section {
        margin: 0px 10px 20px 10px;
        width: 49px;
        height: 49px;
        border-radius: 12px;
    }

    .html {
        font-size: 40px;
    }

    .css {
        font-size: 35px;
    }

    .js {
        font-size: 36px;
    }

    .ts {
        font-size: 31px;
    }

    .py {
        font-size: 38px;
    }

    .nodejs {
        font-size: 33px;
    }

    .bs {
        font-size: 32px;
    }

    .jq {
        font-size: 27px;
    }

    .react {
        font-size: 35px;
    }

    .vite {
        font-size: 35px;
    }

    .tw {
        font-size: 35px;
    }

    .dj {
        font-size: 27px;
    }

    .sql {
        font-size: 27px;
    }

    dialog {
        width: 100%;
    }

    .Informations-Align i {
        font-size: 100px;
    }

    .Informations-Align p {
        font-size: 10px;
    }

    .Contact-Align {
        padding-top: 5vh;
        margin-bottom: 5vh;
    }

    form {
        width: 75%;
    }

    form label {
        font-size: 16px;
        line-height: 10px;
    }

    form input {
        height: 14px;
    }

    form textarea {
        height: 100px;
    }

    form button {
        cursor: pointer;
        font-style: italic;
        font-weight: 500;
        font-size: 15px;
        line-height: 10px;
    }

    .Main-Content {
        background-size: 200%;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12.5px;
    }
      
    input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
        font-size: 12.5px;
    }
      
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
        font-size: 12.5px;
    }
    
    input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
        font-size: 12.5px;
    }

    .Footer {
        height: 90px;
        display: flex;
        flex-direction: column-reverse;
    }

    .Social-Medias-Footer {
        justify-content: center;
        padding: 8px 0px 0 0;
    }

    .Social-Medias-Footer i {
        font-size: 22px!important;
    }

    .Footer p {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 11px;
        padding: 15px 30px;
    }

    /* Error 404 */
    .Text-404 {
        font-size: 100px;
    }

    .Text-NotFound {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .Btn-GoHome {
        font-size: 10px;
        width: 70px;
        height: 24px;
    }
}

/*Unsupported Devices*/
@media (max-width: 350px) and (max-height: 650px) {
    section, .Footer {
        display: none;
    }
    
    body {
        background-image: none;
    }

    .Unsupported-Device {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 15px;
        color: #D9D9D9;
    }
}